@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  @apply bg-gradient-to-b to-yellow-200 from-orange-400;
}

.navbar {
    pointer-events: auto;
    overflow: visible;
}


  /* Hide the default calendar and clock icons */
  input[type="date"]::-webkit-calendar-picker-indicator,
  input[type="time"]::-webkit-calendar-picker-indicator {
    display: none;
  }

.navbar {
    transition: border-bottom 0.1s ease;
  }
  
  .navbar.scrolled {
    border-bottom: 0.5px solid rgb(50, 50, 50); /* Adjust color and thickness as needed */
  }

  .text-gradient {
    color: linear-gradient(90deg, #0493f2, #569fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .z-10000 {
    z-index: 10000;
  }


  .responsive-content {
    display: flex;
    align-items: center;
}

/* Add this to your global CSS file or a <style> tag */
.gradient-text {
  background: linear-gradient(90deg, #b300ff, #006aff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 200%; /* Adjust size for smoother gradient */
  animation: gradientAnimation 3s ease infinite; /* Optional: animation for dynamic effect */
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}


@media(min-width: 1080px) {
  .w-100 {
    width: 40rem;
  }
}

@media (min-width: 768px) {
  .md\:w-100 {
      width: 40rem /* 384px */;
  }
}

@media (min-width: 500px) {
  .smm\:w-9 {
      width: 2.25rem;
  }
  .smm\:h-9 {
    height: 2.25rem;
  }
  .smm\:text-3xl {
    font-size: 1.875rem /* 30px */;
    line-height: 2.25rem /* 36px */;
  }
}

@media (max-width: 1280px) {
  .lgg\:w-44 {
      width: 12rem;
  }
  .lgg\:h-44 {
    height: 12rem;
  }

}

.ph {
  font-size: 3rem;
}
.ph:focus{
  border: none; /* Removes the border */
  outline: none; /* Removes the outline */
  box-shadow: none; /* Removes the shadow */
}

.ph::placeholder{
  font-size: 3rem;
  font-weight: 800;
}

.bg-custom {
  background-color: rgba(255, 255, 255, 0.100);
} 

.ep {
  display: block;
}

.ep1 {
  display: none;
}

.btn-ce {
    display: block;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 3rem;
    font-weight: 600;
    transition: background-color 0.3s ease;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    border-radius: var(--rounded-btn, 0.5rem);
}

.btn-ceh {
  display: block;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 3rem;
  font-weight: 600;
  transition: background-color 0.3s ease;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  border-radius: var(--rounded-btn, 0.5rem);
}

.btn-ce:hover {
  background-color: black;
}

.svg-icon-ce {
    display: none;
    height: 3.25rem;
    width: 3.25rem;
    padding:0 1rem;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}
.svg-icon-ce:hover {
  background-color: black;
}


.title-hidden {
  display: none;
}

@media (min-width: 1024px) {
  .w-101 {
    width: 30rem;
  }
}

@media (max-width: 768px) {
    .btn-ce {
        display: none;
    }

    .svg-icon-ce {
        display: block;
    }

    .flex-row-small {
      flex-direction: row;
      width: 100%;
      
    }
}

@media (max-width: 617px) {
  .flex-row-small {
    flex-direction: column;
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .ep {
      display: none;
  }

  .ep1 {
    display: block;
  }
}

@media (max-width: 441px) {
  .title-block {
      display: none;
  }

  .title-hidden {
      display: inline-flex;
      justify-content: left;
  }
}

  

/******/




